# SELinux : avc: denied { open } for comm="ims_rtp_daemon" path="/dev/diag" dev="tmpfs" ino=18773 scontext=u:r:hal_imsrtp:s0 tcontext=u:object_r:diag_device:s0 tclass=chr_file permissive=0
type hal_imsrtp, diag_device;
allow hal_imsrtp diag_device:chr_file open;
