# SELinux : avc: denied { quotaget } for comm="Binder:1051_1" scontext=u:r:installd:s0 tcontext=u:object_r:hidden_files:s0 tclass=filesystem permissive=0
type installd, hidden_files;
allow installd hidden_files:filesystem quotaget;
