# SELinux : avc: denied { search } for comm="kworker/u16:3" name="BBSYS" dev="mmcblk0p83" ino=943 scontext=u:r:kernel:s0 tcontext=u:object_r:bbs_file:s0 tclass=dir permissive=0
type bbs_file;
allow kernel bbs_file:dir search;
