# SELinux : avc: denied { getattr } for comm="phh-on-boot.sh" path="/system/bin/toolbox" dev="dm-0" ino=3224 scontext=u:r:phhsu_daemon:s0 tcontext=u:object_r:toolbox_exec:s0 tclass=file permissive=1
type phhsu_daemon, toolbox_exec, systemfile, bg_boot_complete_prop, bg_daemon_prop, bluetooth_prop;
allow phhsu_daemon toolbox_exec:file { getattr };
allow phhsu_daemon toolbox_exec:file { execute };
allow phhsu_daemon system_file:file { execute_no_trans };
allow phhsu_daemon bg_boot_complete_prop:file { open };
allow phhsu_daemon bg_boot_complete_prop:file { getattr };
allow phhsu_daemon bg_daemon_prop:file { open };
allow phhsu_daemon bg_daemon_prop:file { getattr };
allow phhsu_daemon bluetooth_prop:file { open };
