# SELinux : avc: denied { create } for comm="ueventd" name="mmcblk0p5" scontext=u:r:ueventd:s0 tcontext=u:object_r:fih_partition:s0 tclass=blk_file permissive=0
type fih_partition;
allow ueventd fih_partition:blk_file {create};
