# SELinux : avc: denied { read } for comm="mount" name="filesystems" dev="proc" ino=4026532150 scontext=u:r:vndk_detect:s0 tcontext=u:object_r:proc_filesystems:s0 tclass=file permissive=0
type vndk_detect, proc_filesystems;
allow vndk_detect proc_filesystems:file { read };
