# SELinux : avc: denied { search } for comm="cnss-daemon" name="wifi" dev="mmcblk0p85" ino=786455 scontext=u:r:wcnss_service:s0 tcontext=u:object_r:wifi_data_file:s0 tclass=dir permissive=0
type wcnss_service, wifi_data_file;
allow wcnss_service wifi_data_file:dir { search };
