# SELinux : avc: denied { search } for comm="wificond" name="wifi" dev="mmcblk0p85" ino=786455 scontext=u:r:wificond:s0 tcontext=u:object_r:wifi_data_file:s0 tclass=dir permissive=0
type wificond, wifi_data_file;
allow wificond wifi_data_file:dir search;
